{% extends 'base.html' %}
{% load static %}
{% block body %}






<div dir="rtl">
    <div class="container">
        <div class="signup">
    
        <div class="col-md-9" >
            <form method="POST" enctype="multipart/form-data">
                <h4 class="auth-header">أنشاء حساب جديد</h4>
                <div class="form-group">
                    <input type="" name="">
                </div>
                <div class="form-group">
                    <input type="" name="">
    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="" name="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="" name="">
                    </div>
                </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="" name="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="" name="">
                    </div>
                </div>
                <div class="buttons-w"><button type="submit" class="btn btn-success">التسجيل</button></div>
    
            </form>
        </div>
        </div>
    </div>
    </div>





{% endblock body %}